.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  transition: .1s;
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    width: 330px;
  }
}

@media screen and (max-width: 321px) {
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  }
}