.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px auto 0;
  width: 90%;
  max-height: 52px;
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 42px;
    margin-top: 16px;
  }
}