.lead__title {
  text-align: center;
  margin: 0;
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  transition: .1s;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 90%;
  }
}