.intro {
  width: 76%;
  margin-top: 92px;
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
  .intro {
    margin-top: 88px;
    width: 92%;
  }
}

@media screen and (max-width: 321px) {
  .intro {
    margin-top: 64px;
    width: 90%;
  }
}