.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 4%;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
  .place {
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 321px) {
  .place {
    margin-bottom: 50px;
    row-gap: 32px;
  }
}
